@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  html {
    scroll-behavior: smooth;
    color-scheme: light only;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
